bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
.claude/
.vscode/
.junie/
*.sln.DotSettings
*.sln.DotSettings.user
*.sln.DotSettings.shared
*.sln.DotSettings.user.shared


.DS_Store
*.log